@using UploadsClean.Domain.Entities
@model List<Category>
<div class="row">
    <div class="col-md-12">
        <div class="col-lg-3 col-sm-6 m-t-b-20">
            <a href="/Category/AddCategory">
                <button type="button" class="btn btn-youtube">
                    <i class="fa fa-youtube"></i>
                </button>
            </a>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ردیف</th>
                                <th scope="col">نام</th>


                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int Count = 0;
                            }
                            @foreach (var item in Model)
                            {
                                Count=Count+1;
                                <tr>
                                    <th scope="row">@Count</th>
                                    <td>@item.Name</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>